*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper{
    margin: 5px auto;
    width: 970px;
}

/* Navigation */

#navigation{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    height: 130px;
}

ul{
    display: flex;
}

li{
list-style-type: none;
}

a,
a:hover,
a:visited,
a:link {
    color: white;
    padding: 0 10px;
    text-decoration: none;
}

/* Title */

#title{
    background-color: grey;
    border-bottom: 2px solid black;
    font-size: 32px;
    padding: 13px;
    text-align: center;
}

/* Cast Banner --> */

#cast_banner{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: rgb(152, 119, 153);
    padding: 20px;
}

.cast_info{
    border: 2px solid black;
    margin: 2px;
    padding: 20px;
    width: 50%;

}

.cast_img{
    height: 250px;
}

hr{
    margin: 20px;
}

/* Footer */

#footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
}

.footer_img{
    height: 125px;
}

/*Cookie Policy */

#cookie_policy{
    align-items: center;
    justify-content: space-between;
    display: flex;
    border: 3px solid black;
    padding: 20px;
}

button{
    background-color: orange;
    margin: 15px;
    padding: 5px 7px;
    box-shadow: 3px 3px black;
}
